<!-- indexer::stop -->
<div class="{{ class|default }} block"{{ cssID|default }}{{ style|default ? ' style="' ~ style ~ '"' }}>

    {% include '@ContaoTwigTemplates/parts/headline.html.twig' %}

    <form{% if action|default %} action="{{ action }}"{% endif %} id="{{ formId|default }}" method="post">
        <div class="formbody">
            <input type="hidden" name="FORM_SUBMIT" value="{{ formId }}">
            <input type="hidden" name="REQUEST_TOKEN" value="{{ '{{request_token}}' }}">

            {% block error %}
                {% include '@ContaoTwigTemplates/parts/message.html.twig' with { 'mclass': errorClass|default('error'), 'message': error|default } %}
            {% endblock %}

            {% block fields %}
            <div class="fields">
                {{ fields|default|raw }}
            </div>
            {% endblock %}

            {% block submit %}
            <div class="widget widget-submit">
                <button type="submit" class="submit">{{ slabel|default }}</button>
            </div>
            {% endblock %}
        </div>
    </form>
</div>
<!-- indexer::continue -->
