{% extends "@ContaoTwigTemplates/block/block_unsearchable_core.html.twig" %}

{% block content %}

<form{% if action|default() %} action="{{ action }}"{% endif %} method="get">
    <div class="formbody">
        <div class="form-group mb-2">
            <div class="input-group">
                <label for="ctrl_keywords_{{ uniqueId }}" class="sr-only">{{ keywordLabel }}</label>
                <input type="search" name="keywords" id="ctrl_keywords_{{ uniqueId }}" class="form-control" value="{{ keyword }}" placeholder="{{ keywordLabel }}">
                <div class="input-group-append">
                    <button type="submit" id="ctrl_submit_{{ uniqueId }}" class="btn btn-outline-primary">{{ search }}</button>
                </div>
            </div>
        </div>
        {% if advanced|default(false) %}
            <div class="form-group">
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="query_type" id="matchAll_{{ uniqueId }}" class="custom-control-input" value="and"{% if 'and' == queryType %} checked="checked"{% endif %}>
                    <label for="matchAll_{{ uniqueId }}" class="custom-control-label">{{ matchAll }}</label>
                </div>
                <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" name="query_type" id="matchAny_{{ uniqueId }}" class="custom-control-input" value="or"{% if 'or' == queryType %} checked="checked"{% endif %}>
                    <label for="matchAny_{{ uniqueId }}" class="custom-control-label">{{ matchAny }}</label>
                </div>
            </div>
        {% endif %}
    </div>
</form>

{% if header|default() %}
    <p class="header text-muted"><small>{{ header|raw }} ({{ duration|raw }})</small></p>
{% endif %}

{{ results|raw }}
{{ pagination|raw }}

{% endblock %}