<!-- indexer::stop -->
<div class="{{ class }} {{ logout|default ? 'logout' : 'login' }} block"{{ cssID }}{{ style|default ? ' style="' ~ style ~ '"' : '' }}>

{% include '@ContaoTwigTemplates/parts/headline.html.twig' %}

<form{% if action|default %} action="{{ action }}"{% endif %} id="{{ formId }}" method="post">
    <div class="formbody">

        {% block error %}
            {% include '@ContaoTwigTemplates/parts/message.html.twig' with { 'mclass': errorClass|default('error'), 'message': message|default } %}
        {% endblock %}

        <input type="hidden" name="FORM_SUBMIT" value="{{ formId }}">
        <input type="hidden" name="REQUEST_TOKEN" value="{{ '{{request_token}}' }}">
        <input type="hidden" name="_target_path" value="{{ targetPath|default }}">

        {% if logout|default %}
            <p class="login_info">{{ loggedInAs }}{{ lastLogin|default() ? '<br>' ~ lastLogin : '' }}</p>
        {% else %}
            <input type="hidden" name="_failure_path" value="{{ failurePath|default }}">
            <input type="hidden" name="_always_use_target_path" value="{{ forceTargetPath|default }}">
            <div class="form-group widget widget-text">
                <label for="username">{{ username }}</label>
                <input type="text" name="username" id="username" class="form-control text" value="{{ value }}">
            </div>
            <div class="form-group widget widget-password">
                <label for="password">{{ password }}</label>
                <input type="password" name="password" id="password" class="form-control text password" value="">
            </div>
            {% if autologin|default %}
                <div class="form-group widget widget-checkbox">
                    {% block autologin %}
                        <div class="form-check checkbox_container">
                            <input class="form-check-input" type="checkbox" value="1" name="autologin" id="autologin">
                            <label class="form-check-label" for="autologin">
                                {{ autoLabel }}
                            </label>
                        </div>
                    {% endblock %}
                </div>
            {% endif %}
        {% endif %}

        <div class="form-group widget widget-submit">
            <button type="submit" class="btn btn-primary submit">{{ slabel }}</button>
        </div>
    </div>
</form>

</div>
<!-- indexer::continue -->