<!-- indexer::stop -->
<div class="{{ class|default }} block"{{ cssID|default }}{% if style|default %} style="{{ style }}"{% endif %}>

    {% if headline|default %}
        <{{ hl|default('h1') }}>{{ headline }}</{{ hl|default('h1') }}>
    {% endif %}

    {% if message|default %}
        <p class="tl_confirm">{{ message }}</p>
    {% endif %}

    <form{% if action|default %} action="{{ action }}"{% endif %} id="{{ formId|default }}" method="post" enctype="{{ enctype|default }}">
        <div class="formbody">
            <input type="hidden" name="FORM_SUBMIT" value="{{ formId|default }}">
            <input type="hidden" name="REQUEST_TOKEN" value="{{ '{{ request_token }}' }}">
            <div class="fields">
                <?= $this->fields ?>
            </div>

            {% for category in categories|default %}
                {% if category %}
                    <fieldset>
                        <legend>{{ legend|default }}</legend>
                        {{ category|raw|join('') }}
                    </fieldset>
                {% endif %}
            {% endfor %}

            <div class="widget widget-submit">
                <button type="submit" class="submit">{{ slabel|default }}</button>
            </div>
        </div>
    </form>

</div>
<!-- indexer::continue -->