<!-- indexer::stop -->
<div class="{{ class|default }} block"{{ cssID|default }}{{ style|default ? ' class="' ~ style ~ '"' }}>
    {% include '@HeimrichHannotTwigTemplates/parts/headline.html.twig' %}
    {% include '@HeimrichHannotTwigTemplates/parts/message.html.twig' %}

    <form id="{{ formId|default }}" method="post" enctype="{{ enctype|default }}">
        <div class="formbody">
            <input type="hidden" name="FORM_SUBMIT" value="{{ formId|default }}">
            <input type="hidden" name="REQUEST_TOKEN" value="{{ '{{request_token}}' }}">

            {% for legend, category in categories|default %}
                {% if legend|default %}
                    <legend>{{ legend }}</legend>
                {% endif %}

                {{ category|join('')|raw }}
            {% endfor %}

            <div class="widget widget-submit">
                <button type="submit" class="submit">{{ slabel|default }}</button>
            </div>
        </div>
    </form>
</div>
<!-- indexer::continue -->
