<!-- indexer::stop -->
<div class="{{ class|default }} block"{{ cssID|default }}{{ style|default ? ' class="' ~ style ~ '"' }>

    {% include '@ContaoTwigTemplates/parts/headline_core.html.twig' %}
    {% include '@ContaoTwigTemplates/parts/message_core.html.twig' %}

    <form{{{ action|default ? ' action="' ~ action ~ '"' }} id="{{ formId|default }}" method="post" enctype="{{ enctype|default }}">
        <div class="formbody">
            <input type="hidden" name="FORM_SUBMIT" value="{{ formId|default }}">
            <input type="hidden" name="REQUEST_TOKEN" value="{{ '{{ request_token }}' }}">
            <div class="fields">
                <?= $this->fields ?>
            </div>

            {% for category in categories|default %}
                {% if category %}
                    <fieldset>
                        <legend>{{ legend|default }}</legend>
                        {{ category|join('')|raw }}
                    </fieldset>
                {% endif %}
            {% endfor %}

            <div class="widget widget-submit">
                <button type="submit" class="submit">{{ slabel|default }}</button>
            </div>
        </div>
    </form>

</div>
<!-- indexer::continue -->