{% if accordion_first|default %}
    <div class="accordion" id="accordion{{ accordion_parentId }}">
{% endif %}

<section class="card {{ class }} ce_accordion ce_text block"{{ cssID }}{% if style|default %} style="{{ style }}"{% endif %}>
    <div class="card-header" id="heading{{ id }}">
        <{{ hl }} class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse{{ id }}" data-parent="#accordion{{ accordion_parentId }}" aria-expanded="true" aria-controls="collapse{{ id }}">
                {{ headline }}
            </button>
        </{{ hl }}>
    </div>

    <div id="collapse{{ id }}" class="collapse{% if accordion_first|default %} show{% endif %}" aria-labelledby="heading{{ id }}">
        <div class="card-body">
            {% if not addBefore|default %}
                {{ text|raw }}
            {% endif %}

            {% if addImage|default %}
                {% include 'HeimrichHannotContaoUtilsBundle::image.html.twig' %}
            {% endif %}

            {% if addBefore|default %}
                {{ text|raw }}
            {% endif %}
        </div>
    </div>
</section>

{% if accordion_last|default %}
    </div>
{% endif %}