{% if accordion_first|default %}
    <div class="accordion" id="accordion_{{ accordion_parentId }}">
{% endif %}

<section class="card {{ class }} ce_accordion ce_text block"{{ cssID }}{% if style|default %} style="{{ style }}"{% endif %}>
    <div class="card-header" id="heading_{{ id }}">
        <h3 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapse_{{ id }}" {% if accordion_parentId|default %}data-parent="#accordion_{{ accordion_parentId }}"{% endif %}{% if accordion_first|default %} aria-expanded="true"{% endif %} aria-controls="collapse_{{ id }}">
                {{ headline }}
            </button>
        </h3>
    </div>

    <div id="collapse_{{ id }}" class="collapse{% if accordion_first|default %} show{% endif %}" aria-labelledby="heading_{{ id }}">
        <div class="card-body">
            {% if not addBefore|default %}
                {{ text|raw }}
            {% endif %}

            {% if addImage|default %}
                {% include ('@HeimrichHannotContaoUtils/image.html.twig') %}
            {% endif %}

            {% if addBefore|default %}
                {{ text|raw }}
            {% endif %}
        </div>
    </div>
</section>

{% if accordion_last|default %}
    </div>
{% endif %}