{{ dump() }}

<section class="{{ class|default }} ce_accordion ce_text block"{{ cssID|default }}{% if style|default %} style="{{ style }}"{% endif %}>
    <div class="{{ toggler|default }}"{% if headlineStyle|default %} style="{{ headlineStyle }}"{% endif %}>
        {{ headline|default }}
    </div>
    <div class="{{ accordion }}">
        <div>