{% extends '@HeimrichHannotTwigTemplates/block/block_searchable.html.twig' %}

{% block content %}
    <ul class="list-unstyled">
        {% for file in files %}
            <li class="download-element ext-{{ file.extension|default }}">
                <a href="{{ file.href|default }}" title="{{ file.title|default }}" class="btn btn-primary" role="button" download>{{ file.link|default }} <span class="size">({{ file.filesize|default }})</span></a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}