<div class="{{ class }}">

    <h3 class="mb-1"><a href="{{ href }}" title="{{ title }}">{{ link }}</a> <small class="relevance text-muted">[{{ relevance }}]</small></h3>
    <div class="url text-success mb-2"><small>{{ url }}<span class="filesize"> - {{ filesize }} kB</span></small></div>
    {% if(context) %}
        <p class="context">{{ context|raw }}</p>
    {% endif %}
</div>
