
<!-- indexer::stop -->
<nav class="pagination-wrapper block" aria-label="Page navigation">
    <p>{{ total }}</p>

    <ul class="pagination">
        {% if hasFirst|default %}
            <li class="page-item first"><a href="{{ first.href }}" class="page-link first" title="{{ first.title }}">{{ first.link }}</a></li>
        {% endif %}

        {% if hasPrevious|default %}
            <li class="page-item previous"><a href="{{ previous.href }}" class="page-link previous" title="{{ previous.title }}">{{ previous.link }}</a></li>
        {% endif %}

        {% for page in pages %}
            {% if page.href is null %}
                <li class="page-item active"><span class="page-link active">{{ page.page }}</span></li>
            {% else %}
                <li class="page-item"><a href="{{ page.href }}" class="page-link link" title="{{ page.title }}">{{ page.page }}</a></li>
            {% endif %}
        {% endfor %}

        {% if hasNext|default %}
            <li class="page-item next"><a href="{{ next.href }}" class="page-link next" title="{{ next.title }}">{{ next.link }}</a></li>
        {% endif %}

        {% if hasLast|default %}
            <li class="page-item last"><a href="{{ last.href }}" class="page-link last" title="{{ last.title }}">{{ last.link }}</a></li>
        {% endif %}
    </ul>
</nav>
<!-- indexer::continue -->
