
{{ dump(cssID) }}
<div class="{{ class }} block"{{ cssID|default|raw }}{% if style|default() %} style="{{ style }}"{% endif %}>
    {% block headline %}
        {% if headline|default() %}
            <{{ hl|default('h1') }}>{{ headline|raw }}</{{ hl|default('h1') }}>
        {% endif %}
    {% endblock %}

    {% block content %}
    {% endblock %}
</div>
