{% extends '@ContaoTwigTemplates/forms/form_row_core.html.twig' %}

{% block label %}
    {% if strLabel|default %}
        <label for="ctrl_{{ strId }}"{{ strClass|default ? ' class="' ~ strClass ~ '"' }}>
            {% if arrConfiguration.mandatory|default(false) %}
                <span class="invisible">{{ arrConfiguration.mandatoryField }} </span>{{ strLabel|default }}<span class="mandatory">*</span>
            {% else %}
                {{ strLabel|default }}
            {% endif %}
        </label>
    {% endif %}
{% endblock %}

{% block field %}
    {% if hasErrors|default(false) %}
        <p class="error">{{ errorAsString|default(null) }}</p>
    {% endif %}
    <input type="file" name="{{ strName }}" id="ctrl_{{ strId }}" class="upload{{ strClass|default ? ' class="' ~ strClass ~ '"' }}" {{ attributes|default()|raw }}>
{% endblock %}