{% extends '@HeimrichHannotContaoBootstrapTemplates/forms/form_row_bs.html.twig' %}

{% block label %}
    {% if(not arrConfiguration.hideLabel|default(false)) %}
    <label id="lbl_{{ strId }}>" for="ctrl_{{ strId }}" class="control-label">{{ strLabel }}
        {% if arrConfiguration.mandatory|default(false) %}
            <span class="invisible">{{ 'huh.bootstrap.templates.label.mandatory'|trans }}</span>
            <span class="mandatory">*</span>
        {% endif %}
    </label>
    {% endif %}
{% endblock %}


{% block field %}
    <input type="text" name="{{ strName }}" id="ctrl_{{ strId }}" class="form-control {{ strClass }}" value="{{ varValue|default() }}"{{ attributes|default()|raw }}{{ arrConfiguration.placeholder|default|raw }}>
{% endblock %}