<!-- indexer::stop -->
<div class="{{ class|default('ce_form') }} block"{{ cssId|default }}{% if style|default %} style="{{ style }}{% endif %}">
    {% if headline|default %}
    <{{ hl|default('h1') }}>{{ headline }}</{{ hl|default('h1') }}>
    {% endif %}
    <form{% if action|default %} action="{{ action }}"{% endif %} method="{{ method|default('post') }}"
                                                                  enctype="{{ enctype|default('multipart/form-data') }}"{{ attributes|default() }}{{ novalidate|default }}>
        <div class="formbody">
            {% if method != 'get' %}
                <input type="hidden" name="FORM_SUBMIT" value="{{ formSubmit|default }}">
                <input type="hidden" name="REQUEST_TOKEN" value="{{ '{{request_token}}' }}">
                {% if maxFileSize %}
                    <input type="hidden" name="MAX_FILE_SIZE" value="{{ maxFileSize|default }}">
                {% endif %}
            {% endif %}
            {{ hidden|default|raw }}
            {{ fields|default|raw }}
        </div>
    </form>
</div>
<!-- indexer::start -->