{% if arrConfiguration.inputPrepend|default() %}
    {% set inputPrepend = true %}
    {% set inputGroup = true %}
{% endif %}

{% if arrConfiguration.inputAppend|default() %}
    {% set inputAppend = true %}
    {% set inputGroup = true %}
{% endif %}

{% set blockInputPrepend = block('inputPrepend') %}
{% if blockInputPrepend is not empty%}
    {% set inputGroup = true %}
    {% set inputPrepend = true %}
{% endif %}
{% set blockInputAppend = block('inputAppend') %}
{% if blockInputAppend is not empty %}
    {% set inputGroup = true %}
    {% set inputAppend = true %}
{% endif %}
{% if hasErrors|default(false) %}
    {% set strClass = strClass ~ " is-invalid" %}
{% endif %}

<div class="{{ groupClass|default(arrConfiguration.groupClass|default('form-group')) }} {{ strPrefix }}{% if(strClass|default()) %} {{ strClass }} {% endif %}{% if(arrConfiguration.invisible|default(false)) %} invisible{% endif %}">

    {% block label %}
    {% endblock %}

    {% if inputGroup|default(false) %}<div class="input-group {{ inputGroupClass|default() }}">{% endif %}

        {% if inputPrepend|default(false) %}
            <div class="input-group-prepend">
                {% if arrConfiguration.inputPrepend|default() %}
                    {{ arrConfiguration.inputPrepend|raw }}
                {% else %}
                    {{ blockInputPrepend|raw }}
                {% endif %}
            </div>
        {% endif %}

    {% block field %}
    {% endblock %}

        {% if inputAppend|default(false) %}
            <div class="input-group-append">
                {% if arrConfiguration.inputAppend|default() %}
                    {{ arrConfiguration.inputAppend|raw }}
                {% else %}
                    {{ blockInputAppend|raw }}
                {% endif %}
            </div>
        {% endif %}

    {% if inputGroup|default(false) %}</div>{% endif %}

    {% block explanation %}
        {% if(arrConfiguration.explanation|default()) %}
            <div class="explanation">{{ arrConfiguration.explanation }}</div>
        {% endif %}
    {% endblock %}

    {% block help %}
        {% if(hasErrors|default(false) and errorsAsString|default()) %}
            <div class="invalid-feedback">{{ errorsAsString|raw }}</div>
        {% elseif arrConfiguration.description|default() %}
            <span class="form-text text-muted">{{ arrConfiguration.description }}</span>
        {% endif %}
    {% endblock %}
</div>
