{% if arrConfiguration.inputPrepend|default() %}
    {% set hasInputPrepend = true %}
    {% set inputGroup = true %}
{% endif %}

{% if arrConfiguration.inputAppend|default() %}
    {% set hasInputAppend = true %}
    {% set inputGroup = true %}
{% endif %}

{% if hasErrors|default(false) %}
    {% set strClass = strClass ~ " is-invalid" %}
{% endif %}

<div class="{{ strName }} {{ groupClass|default(arrConfiguration.groupClass|default('form-group')) }} {{ strPrefix }}{% if(arrConfiguration.invisible|default(false)) %} invisible{% endif %}">

    {% block label %}
        {% if(not arrConfiguration.hideLabel|default(false)) %}
            <label id="lbl_{{ strId }}>" for="ctrl_{{ strId }}" class="control-label">{{ strLabel|raw }}
                {% if arrConfiguration.mandatory|default(false) %}
                    <span class="invisible">{{ 'huh.bootstrap.templates.label.mandatory'|trans }}</span>
                    <span class="mandatory">*</span>
                {% endif %}
            </label>
        {% endif %}
    {% endblock %}

    {% if inputGroup|default(false) %}<div class="input-group{{ ' ' ~ inputGroupClass|default('') }}">{% endif %}

        {% block inputPrepend %}
            {% if hasInputPrepend|default(false) %}
                <div class="input-group-prepend">
                    {% if arrConfiguration.inputPrepend|default() %}
                        {{ arrConfiguration.inputPrepend|raw }}
                    {% else %}
                        {{ block('inputPrependInner')|raw }}
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}

        {% block field %}
        {% endblock %}

        {% block inputAppend %}
            {% if hasInputAppend|default(false) %}
                <div class="input-group-append">
                    {% if arrConfiguration.inputAppend|default() %}
                        {{ arrConfiguration.inputAppend|raw }}
                    {% else %}
                        {{ block('inputAppendInner')|raw }}
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}

    {% if inputGroup|default(false) %}</div>{% endif %}

    {% block explanation %}
        {% if(arrConfiguration.explanation|default()) %}
            <div class="explanation">{{ arrConfiguration.explanation }}</div>
        {% endif %}
    {% endblock %}

    {% block error %}
        {% if(hasErrors|default(false) and errorsAsString|default()) %}
            <div class="invalid-feedback">{{ errorsAsString|raw }}</div>
        {% endif %}
    {% endblock %}

    {% block help %}
        {% if(hasErrors|default(false) == false and arrConfiguration.description|default()) %}
            <span class="form-text text-muted description">{{ arrConfiguration.description }}</span>
        {% endif %}
    {% endblock %}
</div>
