{% extends '@HeimrichHannotTwigTemplates/forms/form_row_bs4.html.twig' %}

{% block field %}
    <input type="password" name="{{ strName }}" id="ctrl_{{ strId }}" class="form-control {{ strClass|default }}" value="{{ varValue|default() }}"{{ attributes|default()|raw }}{{ arrConfiguration.placeholder|default|raw }}>

    <div class="mt-4 pt-2">
        <label id="lbl_{{ strId }}_confirm" for="ctrl_{{ strId }}_confirm" class="control-label">{{ 'huh.twig.templates.label.password_confirm'|trans }}
            <span class="invisible">{{ 'huh.twig.templates.label.mandatory'|trans }}</span>
            <span class="mandatory">*</span>
        </label>
        <input type="password" name="{{ strName }}_confirm" id="ctrl_{{ strId }}_confirm" class="form-control {{ strClass }}_confirm" value="{{ varValue|default() }}" {{ attributes|default()|raw }} {{ arrConfiguration.placeholder|default|raw }}>
    </div>
{% endblock %}