{% extends '@HeimrichHannotContaoBootstrapTemplates/forms/form_row_bs.html.twig' %}

{% if(arrConfiguration.datepicker|default(false)) and not arrConfiguration.timepicker|default(false) %}
    {% set datePicker = true %}
    {% set inputGroupClass = 'datepicker' %}
    {% set inputGroup = true %}
    {% set hasInputAppend = true %}
{% elseif (arrConfiguration.timepicker|default(false)) and not arrConfiguration.datepicker|default(false) %}
    {% set timePicker = true %}
    {% set inputGroupClass = 'timepicker' %}
    {% set inputGroup = true %}
    {% set hasInputAppend = true %}
{% elseif (arrConfiguration.timepicker|default(false)) and arrConfiguration.datepicker|default(false) %}
    {% set dateTimePicker = true %}
    {% set inputGroupClass = 'datetimepicker' %}
    {% set inputGroup = true %}
    {% set hasInputAppend = true %}
{% endif %}

{% block label %}
    {% if(not arrConfiguration.hideLabel|default(false)) %}
    <label id="lbl_{{ strId }}>" for="ctrl_{{ strId }}" class="control-label">{{ strLabel }}
        {% if arrConfiguration.mandatory|default(false) %}
            <span class="invisible">{{ 'huh.bootstrap.templates.label.mandatory'|trans }}</span>
            <span class="mandatory">*</span>
        {% endif %}
    </label>
    {% endif %}
{% endblock %}


{% block field %}
    <input type="text" name="{{ strName }}" id="ctrl_{{ strId }}" class="form-control {{ strClass }}" value="{{ varValue|default() }}"{{ attributes|default()|raw }}{{ arrConfiguration.placeholder|default|raw }}>
{% endblock %}



{% block inputAppendInner %}
    {% if datePicker|default(false) or timePicker|default(false) or dateTimePicker|default(false) %}
        <button class="btn btn-outline-secondary" type="button">Button</button>
    {% endif %}
{% endblock %}
