{% extends '@HeimrichHannotContaoBootstrapTemplates/forms/form_checkbox_bs.html.twig' %}

{% block option %}
    <div class="custom-control custom-checkbox {% if arrConfiguration.inline|default(false) %}custom-control-inline{% endif %}">
        <input class="custom-control-input{% if hasErrors|default(false) %} is-invalid{% endif %}" type="checkbox" value="{{ option.value }}"  id="opt_{{ strId }}_{{ counter }}"{% if arrConfiguration.disabled|default(false) %} disabled{% endif %}>
        <label class="custom-control-label" for="opt_{{ strId }}_{{ counter }}">{{ option.label|raw }}</label>

        {% if(hasErrors|default(false) and errorsAsString|default()) %}
            <div class="invalid-feedback">{{ errorsAsString|raw }}</div>
        {% endif %}
    </div>
{% endblock %}

{% block error %}
{% endblock %}