{% extends '@HeimrichHannotContaoBootstrapTemplates/forms/form_checkbox_bs.html.twig' %}

{% block option %}
    <div class="form-check {% if arrConfiguration.inline|default(false) %}form-check-inline{% endif %}">
        <input class="form-check-input" type="radio" name="{{ strName }}" value="{{ option.value }}" id="opt_{{ strId }}_{{ counter }}"{% if arrConfiguration.disabled|default(false) %} disabled{% endif %}>
        <label class="form-check-label" for="opt_{{ strId }}_{{ counter }}">{{ option.label }}</label>
    </div>
{% endblock %}

