{% extends '@HeimrichHannotTwigTemplates/forms/form_row_bs4.html.twig' %}

{% block field %}
    <select class="{% block selectClasses %}form-control {{ strClass }}{% endblock %}" name="{{ strName }}" id="ctrl_{{ strId }}" {{ attributes|default()|raw }}>
        {% for option in arrOptions %}
            {% set counter = random() %}
            {% set default = option.value == arrConfiguration.default|default() %}
            {% block option %}
                {% if option.type == "group_start" %}
                    <optgroup label="{{ option.label }}">
                {% endif %}
                {% if option.type == "option" %}
                    <option value="{{ option.value }}"{% if option.selected|default(false) %} selected{% endif %}>{{ option.label|raw }}</option>
                {% endif %}
                {% if option.type == "group_end" %}
                    </optgroup>
                {% endif %}
            {% endblock %}
        {% endfor %}
    </select>
{% endblock %}
