{% set attributes =  attributes|default() %}

{% if(arrConfiguration.explanation|default() or (hasErrors|default(false) and errorsAsString|default())) %}
    {% set attributes =  attributes ~ ('aria-describedby="help-block-ctrl_' ~ strId ~ '"') %}
{% endif %}

{% if arrConfiguration.inputPrepend|default() %}
    {% set hasInputPrepend = true %}
    {% set inputGroup = true %}
{% endif %}

{% if arrConfiguration.inputAppend|default() %}
    {% set hasInputAppend = true %}
    {% set inputGroup = true %}
{% endif %}

{% set formFeedbackClass = formFeedbackClass|default({})|merge(['form-feedback']) %}
{% set groupClass = groupClass|default(arrConfiguration.groupClass|default('form-group')) %}

{% if hasErrors|default(false) %}
    {% set strClass = strClass ~ " is-invalid" %}
    {% if(errorsAsString|default()) %}
        {% set formFeedbackClass = formFeedbackClass|default({})|merge(['invalid-feedback']) %}
    {% endif %}
{% endif %}

<{{ wrapperTag|default('div') }} class="{{ strName }} {{ groupClass }} {{ strPrefix }}{% if(arrConfiguration.invisible|default(false)) %} invisible{% endif %}">

    {% block label %}
        {% if(not arrConfiguration.hideLabel|default(false)) %}
            <label id="lbl_{{ strId }}" for="ctrl_{{ strId }}" class="control-label">{{ strLabel|raw }}
                {% if arrConfiguration.mandatory|default(false) %}
                    <span class="invisible">{{ 'huh.twig.templates.label.mandatory'|trans }}</span>
                    <span class="mandatory">*</span>
                {% endif %}
            </label>
        {% endif %}
    {% endblock %}

    {% if inputGroup|default(false) %}
    <div class="input-group{{ ' ' ~ inputGroupClass|default('') }}">{% endif %}

        {% block inputPrepend %}
            {% if hasInputPrepend|default(false) %}
                <div class="input-group-prepend">
                    {% if arrConfiguration.inputPrepend|default() %}
                        {{ arrConfiguration.inputPrepend|raw }}
                    {% else %}
                        {{ block('inputPrependInner')|raw }}
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}

        {% block field %}
        {% endblock %}

        {% block inputAppend %}
            {% if hasInputAppend|default(false) %}
                <div class="input-group-append">
                    {% if arrConfiguration.inputAppend|default() %}
                        {{ arrConfiguration.inputAppend|raw }}
                    {% else %}
                        {{ block('inputAppendInner')|raw }}
                    {% endif %}
                </div>
            {% endif %}
        {% endblock %}

        {% if inputGroup|default(false) %}</div>{% endif %}

    {% block feedback %}
        {% if inputGroup|default(false) %}
            {% set formFeedbackClass = formFeedbackClass|merge(['d-block']) %}
        {% endif %}
        <div class="{{ formFeedbackClass|join(' ') }}" id="help-block-ctrl_{{ strId }}">
            {% block explanation %}
                {% if(arrConfiguration.explanation|default()) %}
                    <div class="form-text text-muted explanation">{{ arrConfiguration.explanation|raw }}</div>
                {% endif %}
            {% endblock %}

            {% block error %}
                {% if(hasErrors|default(false) and errorsAsString|default()) %}
                    <div class="feedback-message">{{ errorsAsString|raw }}</div>
                {% endif %}
            {% endblock %}
        </div>
    {% endblock %}
</{{ wrapperTag|default('div') }}>

