{% extends '@ContaoTwigTemplates/forms/form_row_double.html.twig' %}

{% block label %}
    {% if strLabel|default %}
        <label for="ctrl_{{ strId }}"{{ strClass|default ? ' class="' ~ strClass ~ '"' }}>
        {% if arrConfiguration.mandatory|default() %}
            <span class="invisible">{{ arrConfiguration.mandatoryField }} </span>{{ strLabel }}<span class="mandatory">*</span>
        {% else %}>
            {{ strLabel }}
        {% endif %}
        </label>
    {% endif %}
{% endblock %}
{% block field %}
    {% if hasErrors|default %}
    <p class="error">{{ errorAsString }}</p>
    {% endif %}

    <input type="password" name="{{ strName }}" id="ctrl_{{ strId }}" class="text password{% if strClass|default %} {{ strClass }}{% endif %}" value=""{{ arrConfiguration.attributes|default }}>

{% endblock %}

{% block label2 %}
    {% if arrConfiguration.confirmLabel %}
    <label for="ctrl_{{ strId }}_confirm" class="confirm{{ strClass|default ? ' class="' ~ strClass ~ '"' }}">
        {% if arrConfiguration.mandatory|default() %}
            <span class="invisible">{{ arrConfiguration.mandatoryField }} </span>{{ arrConfiguration.confirmLabel }}<span class="mandatory">*</span>
        {% else %}>
            {{ arrConfiguration.confirmLabel }}
        {% endif %}
    </label>
    {% endif %}
{% endblock %}

{% block field2 %}
    <input type="password" name="{{ strName }}_confirm" id="ctrl_{{ strId }}_confirm" class="text password{{ strClass|default ? ' class="' ~ strClass ~ '"' }}" value=""{{ arrConfiguration.attributes|default }}>
{% endblock %}
