{% extends '@ContaoTwigTemplates/forms/form_row_core.html.twig' %}

{% block label %}
<pre>
    {{ dump() }}
</pre>

    {% if strLabel|default %}
        <label for="ctrl_{{ strId|default }}"{% if strClass %} class="{{ strClass }}"{% endif %}>
            {% if arrConfiguration.mandatory|default(false) %}
                <span class="invisible">{{ arrConfiguration.mandatoryField }}</span>{{ strLabel|default }}<span class="mandatory">*</span>
            {% else %}
                {{ strLabel|default }}
            {% endif %}
        </label>
    {% endif %}
{% endblock %}

{% block field %}
    {% if hasErrors|default(false) %}
        <p class="error">{{ errorAsString|default(null) }}</p>
    {% endif %}

    {% if arrAttributes.multiple|default(false)  %}
        <input type="hidden" name="{{ strName|trim('[]', 'right') }}" value="">
    {% endif %}

    <select name="{{ strName|default }}" id="ctrl_{{ strId|default }}" class="{{ strClass|default }}"{{ attritbutes|default }}>
        {% for option in arrOptions %}
            {% if option.type|default() == 'group_start' %}
                <optgroup label="{{ option.label|default }}">
            {% endif %}

            {% if option.type|default() == 'option' %}
                <option value="{{ option.value|default }}"{{ option.selected|default }}>{{ option.label|default }}</option>
            {% endif %}

            {% if option.type|default() == 'group_end' %}
                </optgroup>
            {% endif %}
        {% endfor %}
    </select>
{% endblock %}
