{% extends '@ContaoTwigTemplates/forms/bs3/form_row_bs3.html.twig' %}

{% set optionGroupClass = "radio-group ctrl_" ~ strId %}

{% block label %}
    {% if(not arrConfiguration.hideLabel|default(false)) %}
        <label id="lbl_{{ strId }}" for="ctrl_{{ strId }}" class="control-label">{{ strLabel|raw }}
            {% if arrConfiguration.mandatory|default(false) %}
                <span class="invisible">{{ 'huh.twig.templates.label.mandatory'|trans }}</span>
                <span class="mandatory">*</span>
            {% endif %}
        </label>
    {% endif %}
{% endblock %}


{% block field %}
    <div class="{{ optionGroupClass }}">
        {% for option in arrOptions %}
            {% set counter = ( counter | default(0) ) + 1 %}
            {% block option %}
                {% if not arrConfiguration.inline|default(false) %}
                    <div class="checkbox">
                {% endif %}
                        <label class="{% if arrConfiguration.inline|default(false) %}radio-inline{% endif %}" for="opt_{{ strId }}_{{ counter }}">
                            <input class="{% if(hasErrors|default(false)) %} is-invalid{% endif %}" type="radio" name="{{ strName }}" value="{{ option.value }}"{{ option.checked }} id="opt_{{ strId }}_{{ counter }}" {{ attributes|default()|raw }} {% if arrConfiguration.disabled|default(false) %} disabled{% endif %}>
                            {{ option.label|raw }}
                        </label>
                {% if not arrConfiguration.inline|default(false) %}
                    </div>
                {% endif %}
                {% if loop.last and not arrConfiguration.inline|default(false)%}
                    {% if(hasErrors|default(false) and errorsAsString|default()) %}
                        <div class="help-block">{{ errorsAsString|raw }}</div>
                    {% endif %}
                {% endif %}
            {% endblock %}
        {% endfor %}
    </div>
{% endblock %}

{% block feedback %}
    {% if arrConfiguration.inline|default(false) %}
        {% set formFeedbackClass = formFeedbackClass|merge(['d-block']) %}
        {{ parent() }}
    {% endif %}
{% endblock %}