{% extends "@ContaoTwigTemplates/block/block_unsearchable_core.html.twig" %}

{% block content %}
<form{% if action|default() %} action="{{ action }}"{% endif %} method="get">
    <div class="formbody">
        {% block search_simple %}
                <div class="form-group">
                    <label for="ctrl_keywords_{{ uniqueId }}" class="invisible">{{ keywordLabel }}</label>
                    <input type="search" name="keywords" id="ctrl_keywords_{{ uniqueId }}" class="form-control" value="{{ keyword }}" placeholder="{{ keywordLabel }}">
                </div>
                <button type="submit" id="ctrl_submit_{{ uniqueId }}" class="btn btn-primary">{{ search }}</button>
        {% endblock %}
        {% if advanced|default(false) %}
            {% block search_advanced %}
            <div class="pull-right">
                <label for="matchAll_{{ uniqueId }}" class="checkbox-inline">
                    <input type="radio" name="query_type" id="matchAll_{{ uniqueId }}" class="" value="and"{% if 'and' == queryType %} checked="checked"{% endif %}>
                    {{ matchAll }}
                </label>
                <label for="matchAny_{{ uniqueId }}" class="checkbox-inline">
                    <input type="radio" name="query_type" id="matchAny_{{ uniqueId }}" class="" value="and"{% if 'and' == queryType %} checked="checked"{% endif %}>
                    {{ matchAny }}
                </label>
            </div>
            {% endblock %}
        {% endif %}
    </div>
</form>

{% if header|default() %}
    <p class="header">{{ header|raw }} ({{ duration|raw }})</p>
{% endif %}

{{ results|raw }}
{{ pagination|raw }}

{% endblock %}